.container{

    max-width: 1190px;
    width: 100%;
    color: #515769;
    margin: 0 auto;
}
.class1{

    
    width: 100%;

    display: flex;
    flex-direction: column;
}
.class2{

    
    width: 100%;

    display: flex;
    flex-direction: row;

}
.class5{

    display: flex;
    flex-direction: column;
    
    width: 33%;
    
}
.class__h1{
    display: flex;
    color: #515769;
    flex-direction:row;
    

 
    
    font-size: 25px;
    font-weight: 600;
    font-family: Hind,sans-serif;
    
}
.Par__1{

    display: flex;
    flex-direction: row;
    color: #515769;

    
    font-size: 15px;
    
    
    width: 293px;
}
.Par__2  {

    font-size: 13px;
    color: #515769;
    
    
}

.class6{

 
    display: flex;
    flex-direction: column;

    width: 33%;
    
}
.class7{

    display: flex;
    flex-direction: column;
    
    width: 33%;
    
}



.class3{

    
    
    width: 100%;;

    display: flex;
    flex-direction: column;

}  


.class8{
 display:flex;
 flex-direction:column;
 
 width: 60%;
 

}
.class__h1__2{
    color: #515769;
    display: flex;
    flex-direction:column;
     font-size: 25px;
    font-weight: 600;
    font-family: Hind,sans-serif;
    margin-top: 146px;
    
    
    

}
.par__1__2{
 
    display: flex;
    flex-direction: column;

    color: #515769;
    font-size: 15px;
    
    width: 455px; 
    align-items: flex-start;  
    
    
}

.class4{
    width: 100%;

    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 20%;

   justify-content: center;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.class10{
    width: 20%;
    
   

    display: flex;
    flex-direction: column;  
}
.class11{
    width: 20%;

    
    display: flex;
    flex-direction: column;
}
.class12{
    width: 20%;
    
    
    display: flex;
    flex-direction: column;
}.class13{
    width: 20%;
    
    
    display: flex;
    flex-direction: column;
}
.img1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}
